/* padding */
.p05 {
  padding: 0.5rem;
}
.p1 {
  padding: 1rem;
}
.p125 {
  padding: 1.25rem;
}
.p15 {
  padding: 1.5rem;
}
.p2 {
  padding: 2rem;
}
.p25 {
  padding: 2.5em;
}
.p3 {
  padding: 3em;
}

/* padding-bottom */
.pb05 {
  padding-bottom: 0.5rem;
}
.pb1 {
  padding-bottom: 1rem;
}
.pb125 {
  padding-bottom: 1.25rem;
}
.pb15 {
  padding-bottom: 1.5rem;
}
.pb2 {
  padding-bottom: 2rem;
}

/* padding left right */
.py05 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py125 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.py15 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py25 {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

/* margin */
.m0auto {
  margin: 0 auto;
}
.m05 {
  margin: 0.5rem;
}
.m1 {
  margin: 1rem;
}
.m125 {
  margin: 1.25rem;
}
.m15 {
  margin: 1.5rem;
}
/* margin-top */
.mt05 {
  margin-top: 0.5rem;
}
.mt1 {
  margin-top: 1rem;
}
.mt125 {
  margin-top: 1.25rem;
}
.mt15 {
  margin-top: 1.5rem;
}
.mt2 {
  margin-top: 2rem;
}
/* margin-bottom */
.mb05 {
  margin-bottom: 0.5rem;
}
.mb1 {
  margin-bottom: 1rem;
}
.mb125 {
  margin-bottom: 1.25rem;
}
.mb15 {
  margin-bottom: 1.5rem;
}
.mb2 {
  margin-bottom: 2rem;
}
/* margin-left */
.ml05 {
  margin-left: 0.5rem;
}
.ml1 {
  margin-left: 1rem;
}
.ml125 {
  margin-left: 1.25rem;
}
.ml15 {
  margin-left: 1.5rem;
}
/* margin-right */
.mr05 {
  margin-right: 0.5rem;
}
.mr1 {
  margin-right: 1rem;
}
.mr125 {
  margin-right: 1.25rem;
}
.mr15 {
  margin-right: 1.5rem;
}

/* margin-top-bot */
.my05 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my125 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.my15 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* margin-left-right */
.mx05 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx125 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
.mx15 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* font size */
.fz125 {
  font-size: 1.25rem;
}
.fz15 {
  font-size: 1.5rem;
  font-weight: 400;
}
.fz2 {
  font-size: 2rem;
  font-weight: 500;
}

.fz25 {
  font-size: 2.5rem;
  font-weight: 500;
}

.fz3 {
  font-size: 3rem;
  font-weight: 500;
}

/* text-transform */
.ttcap {
  text-transform: capitalize;
}
.ttup {
  text-transform: uppercase;
}

.tdun {
  text-decoration: underline;
}

/* text-align */
.txtcenter {
  text-align: center;
}

.txtend {
  text-align: end;
}

/* width and height */
.w100 {
  width: 100%;
}

.w84 {
  width: 84%;
}

.w75 {
  width: 75%;
}

.w45 {
  width: 45%;
}

.w25 {
  width: 25%;
}
.w15 {
  width: 15%;
}

.h100 {
  height: 100%;
}

/* layout */
/* flex-justify-align */
[class*="dflex"] {
  display: flex;
  align-items: center;
}

[class*="dflex"][class*="-col"] {
  flex-direction: column;
}
[class*="dflex"][class*="-jcenter"] {
  justify-content: center;
}
[class*="dflex"][class*="-jaround"] {
  justify-content: space-around;
}
[class*="dflex"][class*="-jbetween"] {
  justify-content: space-between;
}
[class*="dflex"][class*="-jstart"] {
  justify-content: flex-start;
}
[class*="dflex"][class*="-jend"] {
  justify-content: flex-end;
}
.alicenter {
  align-items: center;
}
.alistart {
  align-items: flex-start;
}
.aliend {
  align-items: flex-end;
}

/* flex */
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

/* hidden */
.hidden {
  display: hidden;
}

/*  border */
.borderbot {
  border-bottom: 1px solid var(--myWhite50);
}
